body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}

.marker {
  stroke: blue;
  position: absolute;
}



.map-title {
  display: inline-block;
  position: absolute;
  left: 0px;
  margin-top: 2px;
  background-color: #404040;
  color: #ffffff;
  z-index: 1 !important;
  padding: 6px;
  font-weight: bold;
  font-size: smaller;
}

.map-button {
  width: fit-content;
  z-index: 1 !important;
  position: absolute;
  margin-left: 310px;
  margin-top: 2px;
  box-shadow: 2px 4px black; 
}

.patient-table {
  font-family: "Cantarell";
  font-size: 10pt;
  font-weight: lighter;
  margin-left: 10px;
}

.priority-button {
  width: 60px;
  font-family: "Cantarell";
  font-size: 10pt;
  font-weight: bold;
  border-color: slategrey;
}

.table-headers {
  font-size: 12pt;
  text-decoration: underline;
}
