body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}

.marker {
  stroke: blue;
  position: absolute;
}

.patient-table {
  font-size: small;
  font-weight: lighter;
}

.map-title {
  display: inline-block;
  position: absolute;
  left: 0px;
  margin-top: 2px;
  background-color: #404040;
  color: #ffffff;
  z-index: 1 !important;
  padding: 6px;
  font-weight: bold;
  font-size: smaller;
}

.map-button {
  width: fit-content;
  z-index: 1 !important;
  position: absolute;
  margin-left: 310px;
  margin-top: 2px;
  box-shadow: 2px 4px black; 
}
